In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy as sp
import time
import os

In [2]:
df = pd.read_csv('data/enron/emails.csv')

In [3]:
print(df.shape)
df.head()

(517401, 2)

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [13]:
def split_out_email(msg):
    ''' Splits out Features in the emails. 
    '''
    tmp = msg.split('\n')
    date = tmp[1].split(':')[1:]
    frm = tmp[2].split(':')[1:]
    to = tmp[3].split(':')[1:]
    subject = tmp[4].split(':')[1:]
    body = ' '.join(tmp[15:])
    return [date, to, frm, subject, body]

In [18]:
def messages_to_df(messages):
    ''' Converts to relevant dataframe.
    '''
    all_msg = []
    for m in messages:
        all_msg.append(split_out_email(m))
    return pd.DataFrame(all_msg, columns=['date','from','to','subject','body'])

In [19]:
df2 = messages_to_df(df.message)

In [20]:
print(df2.shape)

(517401, 5)

In [21]:
df2.head()

,date,from,to,subject,body
0,"[ Mon, 14 May 2001 16, 39, 00 -0700 (PDT)]",[ tim.belden@enron.com],[ phillip.allen@enron.com],[ ],Here is our forecast
1,"[ Fri, 4 May 2001 13, 51, 00 -0700 (PDT)]",[ john.lavorato@enron.com],[ phillip.allen@enron.com],"[ Re, ]",Traveling to have a business meeting takes th...
2,"[ Wed, 18 Oct 2000 03, 00, 00 -0700 (PDT)]",[ leah.arsdall@enron.com],[ phillip.allen@enron.com],"[ Re, test]",test successful. way to go!!!
3,"[ Mon, 23 Oct 2000 06, 13, 00 -0700 (PDT)]",[ randall.gay@enron.com],[ phillip.allen@enron.com],[ ],"Randy, Can you send me a schedule of the sa..."
4,"[ Thu, 31 Aug 2000 05, 07, 00 -0700 (PDT)]",[ greg.piper@enron.com],[ phillip.allen@enron.com],"[ Re, Hello]",Let's shoot for Tuesday at 11:45.

In [ ]:
df2['from'].value_counts()

In [17]:
split_out_email(df.message[3])

[[' Mon, 23 Oct 2000 06', '13', '00 -0700 (PDT)'],
 [' randall.gay@enron.com'],
 [' phillip.allen@enron.com'],
 [' '],
 ' Randy,   Can you send me a schedule of the salary and level of everyone in the  scheduling group.  Plus your thoughts on any changes that need to be made.   (Patti S for example)  Phillip']

In [7]:
df.message[0].split('\n')

['Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>',
 'Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)',
 'From: phillip.allen@enron.com',
 'To: tim.belden@enron.com',
 'Subject: ',
 'Mime-Version: 1.0',
 'Content-Type: text/plain; charset=us-ascii',
 'Content-Transfer-Encoding: 7bit',
 'X-From: Phillip K Allen',
 'X-To: Tim Belden <Tim Belden/Enron@EnronXGate>',
 'X-cc: ',
 'X-bcc: ',
 "X-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail",
 'X-Origin: Allen-P',
 'X-FileName: pallen (Non-Privileged).pst',
 '',
 'Here is our forecast',
 '',
 ' ']

In [5]:
df.message[1]

"Message-ID: <15464986.1075855378456.JavaMail.evans@thyme>\nDate: Fri, 4 May 2001 13:51:00 -0700 (PDT)\nFrom: phillip.allen@enron.com\nTo: john.lavorato@enron.com\nSubject: Re:\nMime-Version: 1.0\nContent-Type: text/plain; charset=us-ascii\nContent-Transfer-Encoding: 7bit\nX-From: Phillip K Allen\nX-To: John J Lavorato <John J Lavorato/ENRON@enronXgate@ENRON>\nX-cc: \nX-bcc: \nX-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail\nX-Origin: Allen-P\nX-FileName: pallen (Non-Privileged).pst\n\nTraveling to have a business meeting takes the fun out of the trip.  Especially if you have to prepare a presentation.  I would suggest holding the business plan meetings here then take a trip without any formal business meetings.  I would even try and get some honest opinions on whether a trip is even desired or necessary.\n\nAs far as the business meetings, I think it would be more productive to try and stimulate discussions across the different groups about what is working and what is not.  Too often the presenter speaks and the others are quiet just waiting for their turn.   The meetings might be better if held in a round table discussion format.  \n\nMy suggestion for where to go is Austin.  Play golf and rent a ski boat and jet ski's.  Flying somewhere takes too much time.\n"